---
layout: page
---
<!-- <h2>Posts related to: {{ page.title }}</h2> -->
<p>In questa pagina trovate l'archivio del mio progetto di domotica casalinga, realizzato usando un Raspberry Pi (al momento), e il software Home Assistant.</p>

<p>Nel primo post c'è una panoramica di quello che voglio realizzare, ma non escludo di ampliarlo in futuro, man mano che mi si presentino occasioni.</p>

<p>Si tratta di un progetto in continuo sviluppo, stay tuned!</p>

{% unless page.content == '' %}
    <p>{{ page.content }}</p>
{% endunless %}

{% unless site.categories.[page.category] | size > 0 %}
    <p>No posts in this category at this time.</p>
{% endunless %}

{% for post in site.categories.[page.category] %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">            
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">
        Posted by 
        {% if post.author %}
        {{ post.author }}
        {% else %}
        {{ site.title }}
        {% endif %} 
        on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}